body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

#header {
position: absolute;
width: 1920px;
height: 95px;
left: 0px;
top: -5px;
background: #000000;
box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

#header p[class="nome"] {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 45px;
    line-height: 55px;
    color: #FFFFFF;
    margin-top: .48em;
    margin-left: .5em;
} 

#logo {
    position: absolute;
    margin-left: .5em;
    margin-left: 320px;
    margin-top: -70px;
}

#header p[class="cadastrar"] {
    width: 410px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #C3F415;;
    margin-left: 80%;
    margin-top: -5.2em;
} 

#header p[class="entrar"] {
    width: 410px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #C3F415;;
    margin-left: 90%;
    margin-top: -3em;
} 

#linha1 {
    width: 20px;
    height: 0px;
    border: 1px solid #C3F415;
    transform: rotate(-90deg);
    margin-left: 86.8%;
    margin-top: -2.3em;
}

.banner {
    margin-left: -17px;
    margin-top: 4.7%;
}

.destaques{
    position: absolute;
    width: 275px;
    height: 62px;
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    margin-left: 42%;
    color: #000000;
    }

#item1{
    width: 224px;
    height: 275px;
    left: 45px;
    top: 691px;
    margin-left: 1.5%;
    margin-top: 135px;
}

#item2 {
    width: 224px;
    height: 275px;
    left: 45px;
    top: 691px;
    margin-left: 20.5%;
    margin-top: -14.5%;
}

#item3 {
    width: 200px;
    height: 275px;
    left: 45px;
    top: 691px;
    margin-left: 40.5%;
    margin-top: -14.5%;
}

#item4 {
    width: 224px;
    height: 275px;
    left: 45px;
    top: 700px;
    margin-left: 60.5%;
    margin-top: -14.5%;
}

#item5 {
    width: 224px;
    height: 275px;
    left: 45px;
    top: 700px;
    margin-left: 80.5%;
    margin-top: -14.5%;
}

#item1 p {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    padding-top: -20px;
}

#item2 p {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    padding-top: -20px;
}

#item3 p {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    padding-top: -20px;
}

#item4 p {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    padding-top: -20px;
}

#item5 p {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    padding-top: -20px;
}

#bt1 {
    border-radius: 20px;
    font-family: Arial;
    color: #C3F415;
    font-size: 20px;
    background: #000000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 120px;
    margin-left:90px;
}

#bt2 {
    border-radius: 20px;
    font-family: Arial;
    color: #C3F415;
    font-size: 20px;
    background: #000000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 100px;
    margin-left:200px;
}

#bt3 {
    border-radius: 20px;
    font-family: Arial;
    color: #C3F415;
    font-size: 20px;
    background: #000000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 100px;
    margin-left:235px;
}

#bt4 {
    border-radius: 20px;
    font-family: Arial;
    color: #C3F415;
    font-size: 20px;
    background: #000000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 100px;
    margin-left:235px;
}

#bt5 {
    border-radius: 20px;
    font-family: Arial;
    color: #C3F415;
    font-size: 20px;
    background: #000000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 100px;
    margin-left:235px;
}

#linha2 {
    width: 1860px;
    border: .5px solid #000;
    margin-top: 100px;
    align-items: center;
}

.certificado {
    padding-top: 100px;
    margin-left: 40px;
    
}

#img1 {
    padding-right: 50px;
}

#img2 {
    padding-right: 50px;
}

#img3    {
    padding-right: 50px;
}

#sobre{
    margin-left: -8px;
    margin-bottom: -100px;
}
